
body {
	font-family: 'Rubik', sans-serif;
}

.line {
	box-shadow: inset -3px 0 0 #D3D3D3;
}

.divided-line {
	height: 8px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.round {
	width: 143px;
	height: 143px;
	border-radius: 150px;
	box-shadow: 0 0 0 3px #000000, 0 0 13px #333;
	margin-top: 80px;
}

.name {
	letter-spacing: 5px;
	margin: 0px;
	margin-top: 120px;
}

.role {
	color: #778899;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.separator {
	height: 5px;
    border: 0;
    border-radius: 150px;
    box-shadow: inset 0 20px 20px 0px #000000;
}

div.col-md-3 {
 	border-right: 1px solid black;
}

div.col-md-4 {
 	border-right: 1px solid black;
}

a.sm-link {
	color: #000000;
}

.progress {
	margin-bottom: 18px;
}

div.progress-bar {
	background-color: #C0C0C0; 
}

.info {
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 15px;
	margin-bottom: 30px;
}

.reference {
	margin-top: 20px;
}

.footer {
	width: 100%;
	height: 80px;
}

@media (min-width: 576px) {
	.name {
		text-align: center;
	}
	.role {
		text-align: center;
	}
	.round {

		margin-top: 0px;
	}
	.hr {
		display: none;
}
	.line {
	box-shadow: inset -1px 0 0 #FFFAFA;
}
	.separator {
		display: none;
	}
	.divided-line {
		display: none;
	}
}
